<main>
  <h2>User info</h2>
    <div>
       <%= image_tag @user.get_image(100, 100) %>
       <tabel>
         <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
         </tbody>
       </tabel>
      <%= link_to edit_user_path(@user) do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>

  <h2>Users</h2>

  <tabel>
    <thead>
      <tr>
        <th>image</th>
        <th>mame</th>
        <th></th>
        <th colspan="5"></th>
      </tr>
    </thead>
  </tabel>

</main>