<main>
  <p>Welcome! You have signed up successfully.</p>
  
  <div>
    <div>
      <h2>User info</h2>
      <teble>
        <tbody>
          <tr>
            <th>name</th>
          </tr>
          <tr>
            <th>introducion</th>
          </tr>
        </tbody>
      </teble>
    </div>
  </div>
  
  <h2>New book</h2>
</main>