<body>
  <header>
      <nav>
          <div>
              <a>
                <span>Bookers</span>
              </a>
              <div>
                <ul>
                  <li>
                    <i class="fas fa-home">Home</i>
                  </li>
                  <li>
                    <i class="fas fa-link">Abou</i>
                  </li>
                  <li>
                    <i class="fas fa-user-plus">Sign up</i>
                  </li>
                  <li>
                    <i class="fas fa-sign-in-alt">Log in</i>
                  </li>
                </ul>
              </div>
          </div>
      </nav>
  </header>

  <main>
      <div>
        <h1>Welcome to
          <i class="fas fa-book"></i>
          <strong>Bookers</strong>
        </h1>
        <p>In
          <i class="fas fa-book"></i>
          <strong>Bookers</strong></p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>
  </main>

  <footer>
      <p>CopyRight Infratop.inc</p>
  </footer>
</body>
